<% title "Corruption Finder" %>
<% indicators = [] %>
<% @indicators.each do |indicator| %>
  <% indicators.push(item = [indicator.name,indicator.id]) %>
<%end%>
<%= form_tag( {:action => "search"}, :remote => true) do %>
  <%= select_tag(:indicator_id, options_for_select(indicators))  %>
  <%= submit_tag "Find Risky Tenders" %>
<% end %>

<%= button_to "Show Node Graph", {:action => "nodeGraph"} %>
<div id="results">
</div>
