<h1>White Listed</h1>
<% baseUrl = "http://procurement.gov.ge/"%>

<div>
  <div class="row-fluid">
    <div class="span4">Name</div>
    <div class="span4"><%= @item.organization_name %></div>
  </div>

  <div class="row-fluid">
    <div class="span4">Issue Date</div>
    <div class="span4"><%= @item.issue_date %></div>
  </div>

  <div class="row-fluid">
    <div class="span4">Registration Document</div>
    <div class="span4"><%= link_to("View",baseUrl+@item.agreement_url) %></div>
  </div>

  <div class="row-fluid">
    <div class="span4">Organization Information Document</div>
    <div class="span4"><%= link_to("View",baseUrl+@item.company_info_url) %></div>
  </div>
</div>
