<%if not Rails.application.config.live_deploy%><%= button_to(t("Download Data"), {:controller => :analysis, :action => "download_duration_data", :format => "csv", :year => @year},:class => "submit-button") %>
<%end%>
<div id="biddingDurationGraph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
