<%= button_to("Download Data", {:controller => :analysis, :action => "download_more_than_one_bid_data", :format => "csv", :year => @year},:class => "submit-button") %>
<div id="moreThan1BidGraph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
