<br>

<%if @alreadyUnSubscribed %>
<h2><%=t("You have already unsubscribed, you will continue to not receive email alerts")%></h2>
<%else%>
<h2><%=t("You will now not receive email alerts")%></h2>
<%end%>

t("Click") <%= link_to t("Here"), {:controller => "user", :action => "index"} %> t("to view your profile")
