<div class="about-div">
<div class="intro">Tender Monitor provides the public with an in-depth look at government spending in Georgia by making detailed information about state procurement available. Tender Monitor was created by <a href="http://www.transparency.ge/en">Transparency International Georgia</a>, the Georgia chapter of <a href="http://www.transparency.org">Transparency International</a>, the global anti-corruption movement.
</div>
<br>

<div class="sub-heading">Features</div>
<br>
<div class="bold-heading">Email Alerts</div>
<div class="maintext">Users can sign up to receive email alerts about information they’re interested in. For example, a company might sign up to receive email alerts whenever a new tender is posted that calls for the goods or services they provide. A journalist might sign up to receive an alert whenever an agency they are monitoring posts a new tender.</div>
<br>

<div class="bold-heading">Detailed Supplier Profiles</div>
<div class="maintext">Users can view detailed profiles about every supplier registered in the procurement system, including:</div>
<li class="maintext">Total value of tenders won</li>
<li class="maintext">Number of tenders the supplier bid on and number won</li>
<li class="maintext">Top three competitors; the companies who most commonly bid against this company</li>
<li class="maintext">Visualization of tenders won by the supplier, grouped CPV code</li>
<li class="maintext">Timeline of tenders won and their value</li>
<br>

<div class="bold-heading">Detailed Procurer Profiles</div>
<div class="maintext">Users can view detailed profiles about every procurer registered in the procurement system, including:</div>
<li class="maintext">A listing of all tenders issued along with the value and success of the tender</li>
<li class="maintext">A timeline of tenders issued, with estimated and actual value</li>
<li class="maintext">Visualization of the value of tenders issued, grouped by CPV code</li>
<li class="maintext">Visualization of the number of tenders issued, grouped by CPV code</li>
<br>

<div class="bold-heading">Corruption Risk Analysis</div>
<div class="maintext">Tenders stored in the system are checked against several metrics designed to assess the risk of corruption for that particular tender. Users can search using the different metrics in order to view tenders which are at risk for corruption. There is a detailed description of the metrics below. This tool is only designed to highlight tenders that we believe are conducted with an increased vulnerability for corruption – it does not necessarily mean that there actually were any irregularities in this tender. We will continue to improve the criteria for this risk analysis.</div>
<br>

<div class="bold-heading">Aggregate Analysis</div>
<div class="maintext">Aggregate statistics are generated for each year of data in the procurement system, allowing users to view intuitive visualizations of key indicators such as the value of all tenders, grouped by CPV code.</div>
<br>

<div class="sub-heading">Data Sources</div>
<div class="maintext">The data on this website comes from the <a href="http://procurement.gov.ge">Competition and State Procurement Agency’s online procurement platform</a>. There is an auxiliary program attached to this website which automatically downloads and parses the data, and also calculates the derived and aggregate statistics that we display. This reprocessed data is then loaded onto the website so that it is publicly viewable.</div>
<br>
<div class="maintext">Although we make every effort to ensure that the data available on this website is current and accurate, it is possible that there may be errors or delays caused by the downloading process described above. This website should not be regarded as a primary source for procurement information, and all statistics and information should be confirmed using the official <a href="https://tenders.procurement.gov.ge/login.php">procurement platform website</a> before being used in print or as the basis for research and analysis.</div>
<br>
<div class="sub-heading">Risk Indicators</div>
<div class="maintext">The website calculates the indicators of corruption risk for every tender. These indicators alone do not prove that a tender is subject to corruption; instead, they highlight which tenders may deserve extra scrutiny because of an elevated risk of corruption.</div>
<br>
<div class="maintext">Here is a description of how each risk indicator is calculated:</div>
<br>
<div class="maintext">Low Competition: Tender with only one bidder when more bids would be expected</div>
<div class="maintext">Low Price Reduction: Tender with more one bidder which has a contract price less than %2 lower than the initial price</div>
<div class="maintext">Risky Contract Type: Tender from a procurement sector that has been deemed high risk</div>
<div class="maintext">Amendment price is above the price that of a losing bidder: The final contract price is higher than a bid made by a supplier than didn't win</div>
<br>
<div class="sub-heading">Tender Types</div>
<div class="maintext">The state procurement platform defines the following types of tenders:</div>
<div class="maintext">Electronic tender: Tenders with an estimated value greater than GEL 200,000.</div>
<div class="maintext">Simplified electronic tender: Tenders with an estimated value up to GEL 200,000 can be procured using simplified procedures.</div>
<div class="maintext">Consolidated tender: Tenders in which suppliers bid on a unit-price basis, rather than total tender amount. Used for commodity goods such as fuel.</div>
<div class="maintext">Electronic procurement procedure: Procurement procedure on the Unified Electronic System of State procurement.</div>
<div class="maintext">Simplified procurement: method of state procurement of homogeneous procurement objects with value up to GEL 5,000, in cases of urgent necessity, approved with President or Government consent.
up to GEL 5,000</div>
<br>
<div class="sub-heading">Corrections and suggestions</div>
<div class="maintext">If you have any concerns, ideas, suggestions or requests concerning this website, please do not hesitate to contact us.</div>
<br>
<div class="sub-heading">Funding</div>
<div class="maintext">This project is made possible with support from the Swedish International Development Agency (Sida) and the Official Development Aid of the Slovak Republic (SlovakAid). The views represented on this side are those of Transparency International Georgia.</div>
<br>
<div class="sub-heading">Contact</div>
<div class="maintext">Transparency International Georgia</div>
<div class="maintext">Rustaveli Ave. 26, 0108 Tbilisi</div>
<div class="maintext">Phone: + (995 32)292 14 03</div>
<div class="maintext">Email: <a href="mailto:procurement@transparency.ge">procurement@transparency.ge</a></div>
<div class="maintext">Web: <a href="http://transparency.ge">http://transparency.ge</a></div>
<div class="maintext">Twitter: @TIGeorgiaEng</div>
<div class="maintext">Facebook</div>
<br>

<div class="sub-heading">Open Source</div>
<div class="maintext">The source files for this site and the associated web scraper are all open source and may be freely adapted and modified. Please note that TI Georgia does not own the copyright to certain third-party libraries and other content included in the website. These materials may only be reused subject to the licenses placed on them by their respective copyright holders.</div>
<div class="maintext"><a href="https://github.com/tigeorgia/e-procurement-site">https://github.com/tigeorgia/e-procurement-site</a></div>
<div class="maintext"><a href="https://github.com/tigeorgia/e-procurement-scraper">https://github.com/tigeorgia/e-procurement-scraper</a></div>
</div>
