<script type="text/javascript" charset="utf-8">
var chart1; // globally available
$(document).ready(function() {
    chart1 = new Highcharts.Chart({
       chart: {
          renderTo: 'graph',
          type: 'bar'
       },
       title: {
          text: 'Top 10 Players'
       },
       xAxis: {
          categories: [
             <% @TopTen.each do |info| %>
              "<%= info[:company].name %>",
             <% end %>
          ]
       },
       yAxis: {
          title: {
             text: 'Lari'
          }
       },
       series: [        
               {
                name: "Awarded Contract Total",
                data: [ <% @TopTen.each do |info| %> <%= info[:total] %>, <% end %>]
               },  
      ]   
    });
 });
</script>

  <div id="graph" style="width: 100%; height: 75%"></div>
  TOP 10
  <table class="table table-striped">
    <thead>
      <tr>
        <th>name</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody>      
      <% @TopTen.each do |info| %>
      <tr>
        <td><%= link_to info[:company].name, organization_path(info[:company]) %></td>
        <td><%= info[:total] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

