.bidwinner
{
    background-color: #12E254!important;
}


.info-horizontal dd {
    padding: 3;
    margin-left: 230px;
}

.info-horizontal dt {
    padding: 3;
    float: left;
    width: 220px;
    clear: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
