.bidwinner
{
    background-color: #12E254!important;
}


.info-horizontal dd {
    padding: 3;
    margin-left: 230px;
}

.info-horizontal dt {
    padding: 3;
    float: left;
    width: 220px;
    clear: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#top-row {
  margin-bottom: 20px;
}

#front-box {
  margin: 5;
  padding: 10px;  
  font-size: 2.4em;
  text-align: center;
  background-color: #eee;
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #666;
}

#mid-row {
  margin-top: 30px;
}

h2 {
  height: 100%;
	font-size: 18px;
}

.tender-box {
  width: 27%;
  padding: 5px;
  background-color: #eee;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #666;
}

.bid-box {
  width: 27%;
  padding: 5px;
  background-color: #eee;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #666;
}

.search-tender {
  width: 27%;
  padding: 5px;
  background-color: #eee;
  border-radius: 10px;
  border: 2px solid #666;
}

.search-org {
  width: 27%;
  padding: 5px;
  background-color: #eee;
  border-radius: 10px;
  border: 2px solid #666;
}

.search-field {
  width: 100%;
  padding: 5px;
}


.org-box {
  width: 27%;
  padding: 5px;
  background-color: #eee;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #666;
}

.latest-box ul {
  margin-top: 10px;
}

.latest-box li {
  font-size: .8em;
}


div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 3em 0;
    clear: both;
    text-align: center;
    font-size: 15px;
}

table, td, th
{
  padding:10px;
  vertical-align:center;
}
