<% title t('.title') %>

<%= render :partial => 'form' %>

<div class="form-actions">
	<%= link_to t('app.buttons.list'), admin_users_path,
  :class => 'btn' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>

